<div class="component">
    <div class="instructor">
        <div class="instructor-img">
            <div class="instructor-img-item"><img  style="width: 100%;" src="../../../assets/image/Group 15.png" alt="">
            </div>
        </div>

        <div class="instructor-text">
            <div class="blog">
                <h2 class="blog-name">Become an instructor</h2>
                <div class="blog-title">Instructors from around the world teach millions of students. We provide the
                    tools and skills to teach what you love.</div>
                <button class="blog-btn">Start Today</button>
            </div>
        </div>
    </div>
</div>