<div class="component">
    <div class="blog-text">
        <samp class="blog-text-name">Practice Advice</samp>
        <h2 class="blog-text-title">JOIN US</h2>
        <div class="blog-text-text">Problems trying to resolve the conflict between 
            the two major realms of Classical physics: Newtonian mechanics </div>
        <div class="blog-text-input">
            <input class="users" type="text" placeholder="Your Email">
            <button class="btn">Subscribe</button>
        </div>
    </div>
</div>
