<div class="component">
    <div class="component-item">
        <div class="component-blog">
            <div class="component-blog-name">Learn a New Skill
                Everyday, Anytime, and Anywhere.</div>
            <p class="component-blog-text">1000+ Courses covering all tech domains for you to learn and explore new
                oppurtunities. Learn from Industry Experts and land your Dream Job.</p>
            <div class="component-blog-btn"><button class="component-blog-btn-1">Start Trial</button><button
                    class="component-blog-btn-2">How it Works</button>
            </div>
            <div class="component-blog-count">
                <div><small class="component-blog-count-sto">{{country1}}</small>
                    <p class="component-blog-count-title">Courses to choose from</p>
                </div>
                <div><small class="component-blog-count-sto">{{country2}} </small>
                    <p class="component-blog-count-title">Students Trained</p>
                </div>
                <div><small class="component-blog-count-sto">{{country3}}</small>
                    <p class="component-blog-count-title">Professiona
                        lTrainers</p>
                </div>
            </div>
        </div>

    </div>

    <div class="component-item">
        <div class="component-imag">
            <img class="component-imag-img" src="../../../assets/image/imageName.png.jpg" alt="">
        </div>

    </div>

</div>
<app-upstart></app-upstart>
<app-graduate></app-graduate>
<app-top-categories></app-top-categories>
<app-instructor></app-instructor>
<app-join></app-join>