
<div class="component-footer"><footer>
    <div class="footer-menu">
        <h2 class="footer-menu-name">Get In Touch</h2>
        <ul class="footer-menu-li">
            <li><a class="footer-menu-a"  href="">the quick fox jumps over the  lazy dog</a></li>
          
        </ul>
        <div class="footer-menu-icon">
            <fa-icon class="icon" [icon]="Facebook"></fa-icon>
            <fa-icon class="icon" [icon]="Instagram"></fa-icon>
            <fa-icon class="icon" [icon]="Twitter"></fa-icon>
        </div>
    </div>
    <div class="footer-menu">
        <h2 class="footer-menu-name">Company info</h2>
        <ul class="footer-menu-li">
            <li><a class="footer-menu-a" href="">About Us</a></li>
            <li><a class="footer-menu-a" href="">Carrier</a></li>
            <li><a class="footer-menu-a" href="">We are hiring</a></li>
            <li><a class="footer-menu-a" href="">Blog</a></li>
           
        </ul>
    </div>
    <div class="footer-menu">
        <h2 class="footer-menu-name">Features</h2>
        <ul  class="footer-menu-li">
            <li><a class="footer-menu-a" href="">Business Marketing</a></li>
            <li><a class="footer-menu-a" href="">User Analytic</a></li>
            <li><a class="footer-menu-a" href="">Live Chat</a></li>
            <li><a class="footer-menu-a" href="">Unlimited Support</a></li>
           
        </ul>
    </div>
    <div class="footer-menu">
        <h2 class="footer-menu-name">Resources</h2>
        <ul class="footer-menu-li">
            <li><a class="footer-menu-a" href="">IOS & Android</a></li>
            <li><a class="footer-menu-a" href="">Watch a Demo</a></li>
            <li><a class="footer-menu-a" href="">Customers</a></li>
            <li><a class="footer-menu-a" href="">API</a></li>
        
        </ul>
    </div>
</footer>
<div class="component-date"><h3>© {{ data |date:'yyyy'}} upstart</h3></div>
</div>